.AddUserDetailsForm {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
}

table th, table td {
    padding: 8px;
}

.text-pink-500 {
    color: #EC4899;
}

.bg-pink-500 {
    background-color: #EC4899;
}

.border-border-gray {
    border-color: #E5E5E5;
}

.text-placeholder-gray {
    color: #6B7280;
}

.outline-text-pink:focus {
    outline: 2px solid #EC4899;
    outline-offset: -2px;
}

.border-pink-on-focus:focus {
    border-color: #EC4899;
}
