@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

input[type="checkbox"] {
  accent-color: #dd127a;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ck.ck-toolbar__items {
  background-color: red;
}
button.ck-toolbar-spacer {
  background-color: red;
}

.element-scrollbar {
  overflow-x: scroll; /* or overflow-x for horizontal scrolling */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
